body {
    font-family: Arial, sans-serif;
    background:#2C2C54;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 100px;
    color: #fff;
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table.form-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table.form-table td {
    padding: 10px;
    vertical-align: middle;
}

table.form-table input[type="text"], 
table.form-table input[type="date"], 
table.form-table input[type="email"], 
table.form-table input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

table.form-table label {
    font-weight: bold;
}

.submit-container {
    text-align: center;
    margin-top: 20px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 9px;
}

button[type="submit"]:hover {
    background-color: #218838;
}